body {
	background-color: #FBFFB9;
	margin: 0;
}

/* BLOC COORDONNEES - POSTE - PHOTO */

.header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 170px;
	background-color: #FBFFB9;
	top: 0;
}

/* COORDONNEES */

.header ul {
	height: 100%;
	margin: 0;
	padding: auto;
	flex-grow: 0.5;
	list-style-type: none;
}

.header h3{
	color: #EC7357;
	font-family: "Times New Roman", serif;
	text-align: left;
	font-size: 30px;
	margin-bottom: 4px;
	margin-top: 15px;
}
a {
	font-style: bold;
}

/* POSTE */

.header h1 {
	flex-grow: 10;
	margin-top: 30%;
	color: black;
	font-size: 40px;
	text-decoration: underline;
	text-align: center;
}

/* PHOTO */

.photo {
	width: 15%;
	flex-grow: 0.1;
	text-align: right;
}
.photo img {
	width: 95%;
}

/* CORPS DU CV */

.body {
	display: flex;
	justify-content: row;
}

/* BLOC GAUCHE VIDE */

.left {
	width: 12%;
	margin: 0;
	background-color: #EC7357;
}

/* BLOC DROIT CV */

.right {
	width: 100%;
	margin-top: 150px;
	padding-left: 35px;
	background: #FDD692;
	/*border: red solid 3px;*/
}

/* TITRE */

.title h3 {
	text-align: center;
	color: #754F44;
	font-size: 35px;
	font-family: "Times New Roman", serif;
	font-style: italic;
	margin-left: -130px;
}

/* CONTENU */

.title1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 85%;
	height: 350px;
}
.title1 h5, .title2 h5 {
	text-align: center;
}
.competences1 a {
	color: black;
	margin-left: 150px;
}
.competences1 {
	width: 30%;
	height: 350px; 
	border-radius: 50%;
	border: black solid 2px;
}
.competences1 h5, .competences2 h5 {
	font-size: 20px;
	color: #754F44;
	margin-top: 35px;
	margin-bottom: 20px;
}
.competences2 {
	width: 30%;
	height: 350px;
	border-radius: 50%;
	border: black solid 2px;
}
.title1 ul {
	width: 60%;
	margin-left: 30px;
}

.societe h4, .societe a {
	color: #EC7357;
	text-decoration: underline;
	font-size: 23px;
}
a:hover {
	color: grey;
}
.societe {
	color: black;
}
.date {
	font-weight: gras;
	font-size: 14px;
}
.lieu {
	font-weight: normal;
	font-size: 14px;
}
.logiciel {
	font-style: italic;
	font-weight: normal;
	font-size: 13px;
}
.poste {
	display: block;
	font-size: 19px;
	font-family: Courier, monospace;
}
.diplome h4 {
	color: #EC7357;
	font-size: 23px;
}
.date {
	font-weight: gras;
	font-size: 14px;
}
.lieu {
	font-weight: normal;
	font-size: 14px;
}
.etablissement{
	font-style: italic;
	font-weight: normal;
	text-decoration: underline;
	font-size: 17px;
}
.title .societe h5, .title .diplome h5 {
	margin-left: 100px;
}

/* SUITE CORPS */

.body .liste {
	margin-left: 200px;
}

/* CONTENU FOOTER */

.footer {
	background: #754F44;
	text-align: center;
	display: flex;
	justify-content: center;
}
.footer .title h3 {
	text-align: center;
	color: white;
}
.title {
	width: 100%;
}
.titre {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.subtitle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 45px;
}
.footer ul {
	display: inline-block;
	text-align: left;
	margin-left: 0px;
}
.footer li {
	list-style-type: circle; 
}
.autre {
	padding-left: 60px;
	padding-right: 60px;
}
.bloca .autre {
	background: #FBFFB9;
}
.blocc .autre {
  	background: #FBFFB9;
  }
.blocb .autre {
  	background: #FDD692;
  }
.blocb a {
  	text-decoration: none;
  }
 .footer a {
 	font-size: 18px;
 	color: black;
 }
